<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/search/search.css" />
	<link rel="shortcut icon" href="/images/glowritersFavicon.png" type="image/x-icon" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<title>검색페이지</title>
</head>

<body>

	<!-- 메뉴바 내용 -->
	<div class="header-sidemenu open">
		<main>
			<button class="sidemenu-closebtn" type="button">닫기</button>
			<div class="loginprofile">

				<div th:if="${isLogin == 'no'}" class="logoutservice">
					<img class="sidemenu-profile-logo logoutservice" src="/images/glowriters.png" style="display:block">
					<p class="sidemenu-profile-slogan logoutservice" data-info="소개글">
						You can make anything
						<br>
						by writing
					</p>
					<!--           <p class="sidemenu-profile-sloganwriter logoutservice">C.S.Lewis</p> -->
				</div>


				<a th:if="${isLogin == 'yes'}" href="/mypage/mypage" class="myprofilelink loginservice">
					<div class="profile-img">
						<img class="picture" alt="프로필이미지" src="/images/blank-image.png" th:src="${member_profile}">
					</div>
					<div class="profile-info">
						<strong class="profile-name" th:text="${member_nickname}">사용자 닉네임</strong>
						<p th:text="|glowriters.co.kr/${member_id}|" class="profile-id">glowriters.co.kr/멤버아이디값</p>
					</div>
				</a>

				<div th:if="${isLogin == 'no'}" class="logoutservice">
					<a href="https://kauth.kakao.com/oauth/authorize?client_id=1ae31e5e059633d68596177b606c844c&redirect_uri=http://localhost:8080/oauth&response_type=code"
						class="profile-logout-a">
						<button class="profile-logout-btn">글로우라이터스 시작하기</button>
					</a>
				</div>

				<div th:if="${isLogin == 'yes'}" class="loginservice">
					<a href="/write/write" class="profile-write">
						<button class="profile-write-btn">글쓰기</button>
					</a>
					<a class="profile-alarm" href="/alarm/alarm">
						알림
					</a>
					<!-- 읽지 않은 알람이 있을때 분홍색 -->
					<span class="alarm-notify">NEW</span>
				</div>


			</div>
			<div class="sidemenu-service this">
				<ul>


					<li th:if="${isLogin == 'yes'}">
						<a class="glowMypage" href="/" th:href="@{/mypage/mypage}">
							<span class="bar-left"></span>
							마이 페이지
							<span class="bar-right"></span>
						</a>
					</li>

					<li>
						<a class="glowHome" href="/" th:href="@{/}">
							<span class="bar-left"></span>
							글로우라이터스 홈
							<span class="bar-right"></span>
						</a>
					</li>
					<li>
						<a class="glowNow" href="/" th:href="@{/now/now}">
							<span class="bar-left"></span>
							글로우라이터스 나우
							<span class="bar-right"></span>
						</a>
					</li>
					<li>
						<a class="glowCategory" href="#" th:href="@{/category/category}">
							<span class="bar-left"></span>
							카테고리
							<span class="bar-right"></span>
						</a>
					</li>
					<li>
						<a class="glowWrite" href="#" th:href="@{/write/write}" th:if="${isLogin == 'yes'}">
							<span class="bar-left"></span>
							글쓰기
							<span class="bar-right"></span>
						</a>
					</li>

				</ul>
				<div class="sidemenu-setting this" style="position: absolute"> <!--클래스 2개 사용-->
					<div class="sidemenu-banner" style="padding-bottom:40px;">
						<a class="sidemenu-project" href="#">
							<img style="width:168px; display:none;" src="" alt="광고">
						</a>
					</div>

					<div th:if="${isLogin == 'no'}" class="logoutservice">
						<a href="https://kauth.kakao.com/oauth/authorize?client_id=1ae31e5e059633d68596177b606c844c&redirect_uri=http://localhost:8080/oauth&response_type=code"
							class="sidemenu-findAccount">
							계정을 잊어버리셨나요?
						</a>
					</div>

					<div th:if="${isLogin == 'yes'}" class="bottom-setting-container">
						<a class="sidemenu-bottom-setting loginservice" href="/" th:href="@{/mypage/mypage}">
							<button type="button">설정</button>
						</a>
						<a class="sidemenu-bottom-logoutbtn loginservice" href="/logout">
							<button type="button">로그아웃</button>
						</a>
					</div>

					<div th:if="${isLogin == 'yes'}" class="donation_intro loginservice">
						<span>화이팅!</span>
						<i class="mint_rectangle"></i>
					</div>

				</div>
			</div>
		</main>
	</div>

	<!-- 검색아이콘 누르면 생기는 레이어 -->
	<div class="searchLayer layer-guide">
		<div class="service-header search">

			<!-- 상단 이미지, 메뉴바 -->
			<div class="header-top-inner">
				<div class="top-inner-first">
					<button class="inner-first-btn" type="button">메뉴</button>
					<h1 class="inner-first-logo">
						<a href="#" class="first-logo-img">glowriters</a>
					</h1>
				</div>
				<div class="wrap_custom wrap-custom-magazine">

				</div>
				<div class="f-r">
				</div>
			</div>

			<div class="box-suggest">
				<div class=" box-suggest-inner">
					<div class="wrap-search-header">
						<div class="wrap-search">
							<h2 class="screen-out">검색 키워드 입력 창</h2>
							<div class="search-form">
								<div>
									<span class="placeholder-container" style="position: relative;">
										<!-- 0. 검색어입력 란 -->
										<input type="text" value id="searchInput" name="q" class="txt-search this" placeholder=""
											maxlength="20" autocomplete="off" 
											style="position: absolute; z-index: 10; background-color: transparent; border-color: transparent;">
										<input type="text" value name="q" class="txt-search placeholder" placeholder="" maxlength="20"
											autocomplete="off">
									</span>
									<input type="hidden" value="article" name="type" class="hdn-search-type">
								</div>
								<button class="btn-search" type="button">
									<span class="img-ico ico-search">검색</span>
								</button>
							</div>
						</div>
					</div>
					<!-- 메인화면에서 작성한 추천 블로거 기능 그대로 구현하면됨 -->
					<div class="suggestGuide">
						<div class=" suggest-guide animation-up-late">
							<p class="desc-g">
								<b>인기</b> 블로거들을 만나보세요.
							</p>
						</div>
						<div class="wrap-list">
							<ul class="recmd-list">

								<!-- 1. 추천 블로거 5명만 보여줌 -->
								<th:block th:each="item : ${recommendedBlogger}">
									<li class="animation-up-late">
										<a href="#"
											th:href="@{/blogger-details/blogger-details/{blogger_id}(blogger_id = ${item.getMember_id()})}"
											class="link-g" target="_blank">
											<img src="/images/blank-image.png" th:src="${item.getMember_profile()}" width="120" height="120"
												class="thumb-img">
											<strong class="tit-writer" th:text="${item.getMember_nickname()}">블로거 이름</strong>
											<span class="txt-writer" th:text="${item.getMember_comment()}">
												블로거 소개글
											</span>
										</a>
									</li>

							</ul>
						</div>
					</div>
					<div class="suggest-search">
						<div class="cont-suggest">
							<h3 class="tit-suggest">
								<a href="#">
									글검색 <span class="ico-glow ico-arrow"></span>
								</a>
							</h3>
							<!-- 검색어 입력시 DB에서 검색결과 가져오는곳 -->
							<!-- 처음에는 태그 내부가 비어있음 -->
							<div class="wrap-article-list intro-article-item">
								<!-- 검색 결과가 없는 경우 --><!-- 임시로 안보이게 해뒀음 -->
								<div class="search-recommend" style="display: none;">
									<span class="txt-nodata">검색 결과가 없습니다. </span>
								</div>

								<!-- 검색 결과가 있는 경우 -->
								<ul class="list-article list-common" id="resultPost">

									<!-- 2. 글 검색 10개만 보여줌 -->
									<th:block th:each="item : ${posts}">
										<li class="animation-up-late">
											<a href="#" th:href="@{/post-details/post-details/{post_id}(post_id = ${item.getPost_id()})}"
												class="link-post">
												<div class="post-title">
													<strong class="tit-subject item-recommend-title" th:text="${item.getTitle()}">
<!-- 													<strong class="tit-subject item-recommend-title" -->
<!-- 														th:utext="${#strings.isEmpty(keyword) ? item.getTitle() : #strings.replace(item.getTitle(), keyword, '<b>' + keyword + '</b>')}"> -->
														<!-- 검색결과와 일치하는것은 b태그로 감싼다. -->
														<b>D</b>
														-6
													</strong>
												</div>
											</a>
										</li>
									</th:block>

								</ul>

							</div>
						</div>
						<div class="aside-suggest">
							<!-- 블로거 검색 -->
							<div class="cont-suggest">
								<h3 class="tit-suggest">
									<a href="#">
										블로거 검색 <span class="ico-glow ico-arrow"></span>
									</a>
								</h3>

								<!-- 검색어 입력시 DB에서 블로거검색을 가져오는 부분 마치 ul태그처럼. -->
								<div class="wrap-article-list intro-magazine-item" id="resultBlogger">
									<!-- 검색결과가 없을때 뷰 -->
									<div class="search-recommend" style="display: none;">
										<span class="txt-nodata">검색 결과가 없습니다. </span>
									</div>

									<!-- 검색결과가 있을때 -->
									<!-- 3. 블로거 검색 10개만 보여줌 -->
									<th:block th:each="item : ${bloggers}">
										<div class="search-recommend animation-up-late">
											<div class="item-recommend">
												<a href="#"
													th:href="@{/blogger-details/blogger-details/{blogger_id}(blogger_id = ${item.getMember_id()})}"
													class="thumb-g thumb-type1">
													<img src="/images/blank-image.png" th:src="${item.getMember_profile()}" width="36" height="36"
														class="img-thumb">
												</a>
												<div class="detail-recommend">
													<div class="inner-recommend">
														<!-- 검색어와 일치하는 부분만 b태그를 붙여서 강조함 -->
														<a href="#"
															th:href="@{/blogger-details/blogger-details/{blogger_id}(blogger_id = ${item.getMember_id()})}"
															class="txt-recommend item_recommend_title" th:text="${item.getMember_nickname()}">
															기자 <b>D</b>의 하루 끝 끄적임
														</a>
													</div>
												</div>
											</div>
										</div>
									</th:block>




								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 누르면 메인페이지로 이동 -->
				<button onclick="location.href='/'" class="btn-close">
					<span class="img-ico ico-close">닫기</span>
				</button>
			</div>
		</div>
	</div>
	<script src="/js/search/search.js"></script>
</body>

</html>