<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style data-emotion="css-global" data-s="">
		@font-face {
			font-family: "Nanum Myeongjo";
			font-weight: normal;
			src: url("/fonts/NanumMyeongjo.ttf") format("truetype");
		}

		@font-face {
			font-family: "Noto Sans Light";
			font-style: normal;
			font-weight: 300;
			src: url("/fonts/NotoSansCJKkr-Light.otf");
		}

		@font-face {
			font-family: "Noto Sans DemiLight";
			font-style: normal;
			font-weight: 300;
			src: url("/fonts/NotoSansCJKkr-DemiLight.otf");
		}
	</style>
	<link rel="shortcut icon" href="/images/glowritersFavicon.png" type="image/x-icon" />
	<link rel="stylesheet" href="/css/alarm/alarm.css" />
	<link rel="stylesheet" href="/css/main/header.css" data-whatIsThis="헤더CSS임포트"/>
	<title>알림페이지</title>
</head>

<body>
	<div th:replace="~{/main/header :: fragment-header1}">헤더파일 가져오는곳</div>
	<div th:replace="~{/main/header :: fragment-header2}">헤더파일 가져오는곳</div>
	<main>
		<article class="main">
			<!-- 여기에 브런치 알림본문이 들어가는데 모르겠음 -->
			<ul class="list-notice">
				<li class="history-list">
					<a href="#" class="notice-icon" data-tiara-layer="notice">
						<img src="//img1.daumcdn.net/thumb/C60x60.fpng/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fbrunch%2Fstatic%2Fimg%2Fpush%2Ficon_notice.png"
							class="img-thumb" width="42" height="42" alt="이미지정보" />
						<!-- <span class="frame"></span> -->
					</a>
					<a href="#" class="notice-text" data-tiara-action-name="알림 리스트 클릭"
						data-tiara-action-kind="ClickContent" data-tiara-layer="notice">
						<strong class="title-sub">[작가 모집 중] 글로 남기고 싶은 자신만의 이야기가 있나요? 지금
							브런치 작가 신청을 하고 서랍에 담긴 소중한 이야기를 꺼내
							주세요.</strong>
					</a>
					<span class="time">Apr 28. 2024</span>
				</li>
				<li class="history-list">
					<a href="#" class="notice-icon" data-tiara-layer="notice">
						<img src="//img1.daumcdn.net/thumb/C60x60.fpng/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fbrunch%2Fstatic%2Fimg%2Fpush%2Ficon_notice.png"
							class="img-thumb" width="42" height="42" alt="이미지정보" />
						<!-- <span class="frame"></span> -->
					</a>
					<a href="#" class="notice-text" data-tiara-action-name="알림 리스트 클릭"
						data-tiara-action-kind="ClickContent" data-tiara-layer="notice">
						<strong class="title-sub">[작가 모집 중] 글로 남기고 싶은 자신만의 이야기가 있나요? 지금
							브런치 작가 신청을 하고 서랍에 담긴 소중한 이야기를 꺼내
							주세요.</strong>
					</a>
					<span class="time">Apr 28. 2024</span>
				</li>
				<li class="history-list">
					<a href="#" class="notice-icon" data-tiara-layer="notice">
						<img src="//img1.daumcdn.net/thumb/C60x60.fpng/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fbrunch%2Fstatic%2Fimg%2Fpush%2Ficon_notice.png"
							class="img-thumb" width="42" height="42" alt="이미지정보" />
						<!-- <span class="frame"></span> -->
					</a>
					<a href="#" class="notice-text" data-tiara-action-name="알림 리스트 클릭"
						data-tiara-action-kind="ClickContent" data-tiara-layer="notice">
						<strong class="title-sub">[작가 모집 중] 글로 남기고 싶은 자신만의 이야기가 있나요? 지금
							브런치 작가 신청을 하고 서랍에 담긴 소중한 이야기를 꺼내
							주세요.</strong>
					</a>
					<span class="time">Apr 28. 2024</span>
				</li>
				<li class="history-list">
					<a href="#" class="notice-icon" data-tiara-layer="notice">
						<img src="//img1.daumcdn.net/thumb/C60x60.fpng/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fbrunch%2Fstatic%2Fimg%2Fpush%2Ficon_notice.png"
							class="img-thumb" width="42" height="42" alt="이미지정보" />
						<!-- <span class="frame"></span> -->
					</a>
					<a href="#" class="notice-text" data-tiara-action-name="알림 리스트 클릭"
						data-tiara-action-kind="ClickContent" data-tiara-layer="notice">
						<strong class="title-sub">[작가 모집 중] 글로 남기고 싶은 자신만의 이야기가 있나요? 지금
							브런치 작가 신청을 하고 서랍에 담긴 소중한 이야기를 꺼내
							주세요.</strong>
					</a>
					<span class="time">Apr 28. 2024</span>
				</li>
				<li class="history-list">
					<a href="#" class="notice-icon" data-tiara-layer="notice">
						<img src="//img1.daumcdn.net/thumb/C60x60.fpng/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fbrunch%2Fstatic%2Fimg%2Fpush%2Ficon_notice.png"
							class="img-thumb" width="42" height="42" alt="이미지정보" />
						<!-- <span class="frame"></span> -->
					</a>
					<a href="#" class="notice-text" data-tiara-action-name="알림 리스트 클릭"
						data-tiara-action-kind="ClickContent" data-tiara-layer="notice">
						<strong class="title-sub">[작가 모집 중] 글로 남기고 싶은 자신만의 이야기가 있나요? 지금
							브런치 작가 신청을 하고 서랍에 담긴 소중한 이야기를 꺼내
							주세요.</strong>
					</a>
					<span class="time">Apr 28. 2024</span>
				</li>
			</ul>
		</article>
	</main>
</body>
<script src="/js/main/header.js" data-whatIsThis="헤더js임포트"></script>
</html>