<footer class="footer">
  <div class="footer-inner">
    <div class="footer-wrap">
      <div class="footer-quotation">
        <span class="site-logo"></span>
        <p class="site-slogan">
          You can make anything
          <br>
          by writing.
        </p>
        <p class="site-sloganwriter">C.S.Lewis</p>
      </div>
      <ul class="footer-service">
        <li><a href="#" target="_blank" class="footer-service-link">글로우라이터스 이용안내</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">작가신청</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">작가 지원 프로젝트</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">제휴제안</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">고객센터</a></li>
      </ul>
      <ul class="footer-policy"">
          <li><a href=" #" target="_blank" class="footer-service-link">이용약관</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">이전 이용약관</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">카카오 유료서비스 이용약관</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">카카오 개인정보 처리 방침</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">청소년 보호정책</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">운영정책</a></li>
      </ul>
      <ul class="footer-sns">
        <li><a href="#" target="_blank" class="footer-service-link">글로우라이터스 공지사항</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">공식 카카오톡 채널</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">공식 인스타그램</a></li>
        <li><a href="#" target="_blank" class="footer-service-link">공식 페이스북</a></li>
      </ul>
    </div>
    <div class="footer-corp">
      <small class="copyright"></small><!-- © Kakao Corp작성안했음 -->
      <ul class="download">
        <li>
          <a href="#" target="_blank" class="footer-site-info">
            <span class="ico-android">안드로이드 앱 다운로드</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="footer-site-info">
            <span class="ico-ios">아이폰 앱 다운로드</span>
          </a>
        </li>
      </ul>
    </div>
</footer>
