<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style data-emotion="css-global" data-s="">
		@font-face {
			font-family: "Nanum Myeongjo";
			font-weight: normal;
			src: url("/fonts/NanumMyeongjo.ttf") format("truetype");
		}

		@font-face {
			font-family: "Noto Sans Light";
			font-style: normal;
			font-weight: 300;
			src: url("/fonts/NotoSansCJKkr-Light.otf");
		}

		@font-face {
			font-family: "Noto Sans DemiLight";
			font-style: normal;
			font-weight: 300;
			src: url("/fonts/NotoSansCJKkr-DemiLight.otf");
		}
	</style>
	<link rel="shortcut icon" href="/images/glowritersFavicon.png" type="image/x-icon" />
	<link rel="stylesheet" href="/css/main/main.css" />
	<!-- 비동기 사용할때 코드단축을위한 JQuery 사용 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<title>메인 페이지</title>
</head>

<body>
	<!-- 헤더 시작 부분 -->
	<div class="header-sidemenu open">
		<main>
			<button class="sidemenu-closebtn" type="button">닫기</button>
			<div class="loginprofile">

				<div th:style="${isLogin == 'no' ? 'display:block' : 'display:none'}" class="logoutservice">
					<img class="sidemenu-profile-logo logoutservice" src="/images/glowriters.png" style="display:block">
					<p class="sidemenu-profile-slogan logoutservice" data-info="소개글">
						You can make anything
						<br>
						by writing
					</p>
					<!--           <p class="sidemenu-profile-sloganwriter logoutservice">C.S.Lewis</p> -->
				</div>

				<a th:style="${isLogin == 'yes' ? 'display:block' : 'display:none'}"
					th:href="@{/mypage/mypage/{member_id}(member_id = ${member_id})}" class="myprofilelink loginservice">
					<div class="profile-img">
						<img class="picture" th:alt="${member_profile}" src="/images/blank-image.png" th:src="${member_profile}">
					</div>
					<div class="profile-info">
						<strong class="profile-name" th:text="${member_nickname}">사용자 닉네임</strong>
						<p th:text="|glowriters.co.kr/${member_id}|" class="profile-id">glowriters.co.kr/멤버아이디값</p>
					</div>
				</a>

				<div th:style="${isLogin == 'no' ? 'display:block' : 'display:none'}" class="logoutservice">
					<a href="https://kauth.kakao.com/oauth/authorize?client_id=1ae31e5e059633d68596177b606c844c&redirect_uri=http://localhost:8080/oauth&response_type=code"
						class="profile-logout-a">
						<button class="profile-logout-btn">글로우라이터스 시작하기</button>
					</a>
				</div>

				<div th:style="${isLogin == 'yes' ? 'display:block' : 'display:none'}" class="loginservice">
					<a href="/write/write" class="profile-write">
						<button class="profile-write-btn">글쓰기</button>
					</a>
					<a class="profile-alarm" href="/alarm/alarm">
						알림
					</a>
					<!-- 읽지 않은 알람이 있을때 분홍색 -->
					<span class="alarm-notify">NEW</span>
				</div>


			</div>
			<div class="sidemenu-service this">
				<ul>

					<li th:style="${isLogin == 'yes' ? 'display:block' : 'display:none'}">
						<a class="glowMypage" href="/" th:href="@{/mypage/mypage/{member_id}(member_id=${member_id})}">
							<span class="bar-left"></span>
							마이 페이지
							<span class="bar-right"></span>
						</a>
					</li>

					<li class="selected">
						<a class="glowHome" href="/" th:href="@{/}">
							<span class="bar-left"></span>
							글로우라이터스 홈
							<span class="bar-right"></span>
						</a>
					</li>
					<li>
						<a class="glowNow" href="/" th:href="@{/now/now}">
							<span class="bar-left"></span>
							글로우라이터스 나우
							<span class="bar-right"></span>
						</a>
					</li>
					<li>
						<a class="glowCategory" href="#" th:href="@{/category/category}">
							<span class="bar-left"></span>
							카테고리
							<span class="bar-right"></span>
						</a>
					</li>
					<li>
						<a class="glowWrite" href="#" th:href="@{/write/write}"
							th:style="${isLogin == 'yes' ? 'display:block' : 'display:none'}">
							<span class="bar-left"></span>
							글쓰기
							<span class="bar-right"></span>
						</a>
					</li>


				</ul>
				<div class="sidemenu-setting this" style="position: absolute"> <!--클래스 2개 사용-->
					<div class="sidemenu-banner" style="padding-bottom:40px;">
						<a class="sidemenu-project" href="#">
							<img style="width:168px; display:none;" src="" alt="광고">
						</a>
					</div>

					<div th:style="${isLogin == 'no' ? 'display:block' : 'display:none'}" class="logoutservice">
						<a href="https://kauth.kakao.com/oauth/authorize?client_id=1ae31e5e059633d68596177b606c844c&redirect_uri=http://localhost:8080/oauth&response_type=code"
							class="sidemenu-findAccount">
							계정을 잊어버리셨나요?
						</a>
					</div>

					<div th:style="${isLogin == 'yes' ? 'display:block' : 'display:none'}" class="bottom-setting-container">
						<a class="sidemenu-bottom-setting loginservice" href="/"
							th:href="@{/mypage/mypage/{member_id}(member_id = ${member_id})}">
							<button type="button">설정</button>
						</a>
						<a class="sidemenu-bottom-logoutbtn loginservice" href="/logout">
							<button type="button">로그아웃</button>
						</a>
					</div>

					<div th:style="${isLogin == 'yes' ? 'display:block' : 'display:none'}" class="donation_intro loginservice">
						<span>화이팅!</span>
						<i class="mint_rectangle"></i>
					</div>

				</div>
			</div>
		</main>
	</div>
	<header class="header">
		<div class="header-top this">
			<div class="header-top-inner">
				<div class="top-inner-first">
					<button class="inner-first-btn" type="button">메뉴</button>
					<h1 class="inner-first-logo">
						<a href="/" class="first-logo-img">glow</a>
					</h1>
				</div>
				<div class="top-inner-third">
					<a th:style="${isLogin == 'yes' ? 'display:block' : 'display:none'}" href="/write/write"
						class="inner-third-login loginservice">글쓰기</a>
					<a th:style="${isLogin == 'no' ? 'display:block' : 'display:none'}" href="#"
						class="inner-third-login logoutservice">로그인</a>
				</div>
				<div class="top-inner-second">
					<div class="inner-second-search">
						<form action="#" method="get">
							<input name="q" class="second-search-input" type="text" title="검색어입력" placeholder="검색어를 입력해 주세요"
								autocomplete="off" value>
							<input name="profiled" type="hidden" value>
						</form>
						<!-- 이 버튼을 누르면 검색 페이지(search)로 이동 -->
						<button onclick="location.href='/search/search'" class="second-search-btn" type="button">검색</button>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- 헤더 끝 부분 -->


	<hr class="hide">
	<main class="content">
		<div class="content-main">
			<article class="mArticle">
				<h2 class="content-body">글로우라이터스본문</h2>
				<div class="content-intro">
					<h3 class="intro-firstword">
						작품이 되는 이야기, 글로우라이터스
						<!-- 						<span class="glow-logo"> -->
						<!-- 						</span> -->
						<img class="glow-logo" src="/images/glowriters.png">
					</h3>
					<p class="intro-desc">
						<span class="desc-part">
							글로우라이터스에 담긴 아름다운 작품을 감상해 보세요.
							<br>
						</span>
						<span class="desc-part">
							그리고 다시 꺼내 보세요.
							<br>
						</span>
						<span class="desc-part">
							<span class="desc-last">서랍 속 간직하고 있는 글과 감성을.</span>
						</span>
					</p>
				</div>
				<div class="main-slide">
					<h3 class="screen">EDITOR PIC</h3>
					<div class="slide-area">
						<ul class="list-slide" style="width:1000%">
							<!-- 총 8개 보여줄것 -->

							<th:block th:each="item : ${mainSlideItems}">
								<li>
									<div class="slide-pic1 this">
										<div class="pic1-item this">
											<!-- 1. 클릭시 상세페이지이동 2. 이미지 -->
											<a href="#" th:href="@{/post-details/post-details/{post_id}(post_id = ${item.getPost_id()})}"
												class="pic1-link" target="_blank" style="background-color: #90735B;">
												<img th:src="${item.getFilepath()}" style="position:relative; margin-bottom:-175px;">
												<span class="pic1-fade this"></span>
												<div class="pic1-append">
													<div class="pic1-info">
														<div class="pic1-inner">
															<!-- 3. 제목 -->
															<strong class="pic1-title" th:text="${item.getTitle()}">제목</strong>
															<!-- 4. 본문내용 -->
															<p class="pic1-desc" th:text="${item.getContent()}">
																본문내용
															</p>
															<span class="pic1-by this">
																<span class="pic1-by-logo">by</span>
																<!-- 5. 닉네임 -->
																<span class="pic1-by-writer" th:text="${item.getMember_nickname()}">작성자</span>
															</span>
														</div>
													</div>
												</div>
												<span class="pic1-release">
													<span class="pic1-end">
														<span class="pic1-cnt">???</span>
														<!-- 6. 구독자수 -->
														<span class="pic1-power" th:text="|${item.getSubscriberCount()}명의 구독자|">구독자수 </span>
													</span>
												</span>
											</a>
										</div>
									</div>
								</li>
							</th:block>

						</ul>
					</div>
					<div class="slide-btn">
						<!-- 이전슬라이드 버튼은 처음에 숨겨져있고 오른쪽으로 넘기자마자 생김 -->
						<!-- inline으로 바뀜 -->
						<a href="#js" class="slide-prev">
							<span class="slide-btn">이전 슬라이드 보기</span>
						</a>
						<a href="#js" class="slide-next">
							<span class="slide-btn">다음 슬라이드 보기</span>
						</a>
					</div>
				</div>
				<div class="tags">
					<h3 class="tags-title">Glowriters Category</h3>
					<p class="tags-desc">
						<span class="desc-txt">태그로 분류된 다양한 글 모음</span>
					</p>
					<div class="tags-list">
						<div class="list-home" style="height: 363px;">
							<!-- left, top모두 120px씩 증가 -->
							<a class="list-item" th:href="@{'/category/category/' + 여행}" target="_blank"
								style="left: 120px; top:0px;">
								<span class="item-txt">여행</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + '그림 웹툰'}" target="_blank"
								style="left: 240px; top:0px;">
								<span class="item-txt">그림<br>웹툰</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + '사진 촬영'}" target="_blank"
								style="left: 360px; top:0px;">
								<span class="item-txt">사진<br>촬영</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + 'IT 트랜드'}" target="_blank"
								style="left: 480px; top:0px;">
								<span class="item-txt">IT<br>트랜드</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + 경제}" target="_blank"
								style="left: 600px; top:0px;">
								<span class="item-txt">경제</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + '영화 리뷰'}" target="_blank"
								style="left: 720px; top:0px;">
								<span class="item-txt">영화<br>리뷰</span>
							</a>
							<!-- top 120px -->
							<a class="list-item" th:href="@{'/category/category/' + '뮤직(음악)'}" target="_blank"
								style="left: 120px; top:120px;">
								<span class="item-txt">뮤직(음악)</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + '요리 레시피'}" target="_blank"
								style="left: 240px; top:120px;">
								<span class="item-txt">요리<br>레시피</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + '건강 운동'}" target="_blank"
								style="left: 360px; top:120px;">
								<span class="item-txt">건강<br>운동</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + '문화 예술'}" target="_blank"
								style="left: 480px; top:120px;">
								<span class="item-txt">문화<br>예술</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + '사랑 이별'}" target="_blank"
								style="left: 600px; top:120px;">
								<span class="item-txt">사랑<br>이별</span>
							</a>
							<a class="list-item" th:href="@{'/category/category/' + 반려동물}" target="_blank"
								style="left: 720px; top:120px;">
								<span class="item-txt">반려동물</span>
							</a>
						</div>
					</div>
					<div class="tags-cl"></div>
				</div>
				<div class="weekends">
					<div class="section">
						<h3 class="weekends-title">Weekend Serialization</h3>
						<p class="weekends-desc">오리지널 연재를 만나요</p>
						<div class="tab-basic">
							<strong class="tab-screen">요일별 연재 목록</strong>
							<ul class="list-tab">

								<!-- 선택된 요일은 li태그의 class가 on으로 바뀜. -->
								<li>
									<!-- href="#" 있ㅇㅓ야함 -->
									<a class="link-tab" onclick="selectWeek('Monday'); dataSend(); ">
										월
									</a>
								</li>
								<li>
									<a class="link-tab" onclick="selectWeek('Tuesday'); dataSend();">
										화
									</a>
								</li>
								<li>
									<a class="link-tab" onclick="selectWeek('Wednesday'); dataSend();">
										수
									</a>
								</li>
								<li>
									<a class="link-tab" onclick="selectWeek('Thursday'); dataSend();">
										목
									</a>
								</li>
								<li>
									<a class="link-tab" onclick="selectWeek('Friday'); dataSend();">
										금
									</a>
								</li>
								<li>
									<a class="link-tab" onclick="selectWeek('Saturday'); dataSend();">
										토
									</a>
								</li>
								<li>
									<a class="link-tab" onclick="selectWeek('Sunday'); dataSend();">
										일
									</a>
								</li>

							</ul>
						</div>
						<div class="tab-pannel">
							<div class="rel-serial">
								<div class="post-filter">
									<strong class="filter-screen">요일별 연재 목록 필터</strong>
									<!-- 선택된 버튼은 class명 뒤에 on 이 추가됨 -->
									<!-- href는 제거한 상태 -->
									<a class="filter-btn on" type="button" onclick="">
										최신순
									</a>
									<a class="filter-btn" type="button">
										라이킷순
									</a>
								</div>
							</div>
							<strong class="pannel-screen">요일별 연재 목록</strong>

							<ul class="pannel-serial" id="weekends">
								<!-- 게시글들 -->
								<!-- 총 8개 보여줄것 -->
								<th:block th:each="item : ${weekendItems}">
									<li class="pannel-item">
										<!-- 1.링크 -->
										<a class="item-link" href="#"
											th:href="@{/post-details/post-details/{post_id}(post_id = ${item.getPost_id()})}" rel="noreferrer"
											target="_blank">
											<div class="item-txt">
												<!-- 2. 카테고리 -->
												<span class="item-cate" th:text="${item.getCategory()}">카테고리</span>
												<span class="item-title">
													<!-- 3. 제목 -->
													<strong class="item-info" th:text="${item.getTitle()}">제목</strong>
													<!-- 4. 새로운 연재인지? -->
													<span class="item-new" th:style="${isLogin == 'yes' ? 'display:block' : 'display:none'}">새로운
														연재
														아이콘</span>
												</span>
												<div class="item-explain">
													<!-- 5. 작성자 -->
													<span class="item-by" th:text="${item.getMember_nickname()}">
														<span class="item-ico">by</span>
														작성자
													</span>
												</div>
											</div>
											<div class="item-img">
												<!-- 6. 타이틀 이미지 -->
												<img th:alt="${item.getFilepath()}" height="80" src="/images/blank-image.png" width="80"
													th:src="${item.getFilepath()}" loading="lazy">
											</div>
										</a>
									</li>
								</th:block>

							</ul>
							<div class="pannel-layer this">
								<div class="layer-loader this">
									<div class="layer-dot"></div>
									<div class="layer-dot"></div>
									<div class="layer-dot"></div>
								</div>
							</div>
						</div>
						<a class="pannel-link" href="/now/now" rel="noreferrer">
							전체 작품 보기
							<span class="pannel-link-ico"></span>
						</a>
					</div>
				</div>

				<div class="writers">
					<!-- 					<h3 class="writers-title">G L O W &nbsp;  W R I T E R S</h3> -->
					<img class="writers-title" src="/images/glowritersLogo.png">
					<p class="writers-desc">
						<span class="writers-info">글로우라이터스 추천 블로거들</span>
					</p>
					<!-- 태그(writer_keyword_wrap)는 제외 -->
					<div class="writers-wrap">
						<ul class="writers-list">


							<!-- 블로거들 -->
							<!-- 총 6개 보여줄것 -->
							<th:block th:each="item : ${recommendedBloggers}">
								<li>
									<a href="#"
										th:href="@{/blogger-details/blogger-details/{blogger_id}(blogger_id = ${item.getMember_id()})}"
										target="_blank" class="writers-who">
										<img src="/images/blank-image.png" th:src="${item.getMember_profile()}" width="80" height="80"
											class="writers-img" th:alt="${item.getMember_nickname()}">
										<strong class="writers-name" th:text="${item.getMember_nickname()}">블로거명</strong>
										<span class="writers-team">인기 블로거</span>
										<span class="writer-txt" style="height:60px;" th:text="${item.getMember_comment()}">
											블로거 소개
										</span>
									</a>
									<div class="writer-tags">
										<button type="button" class="category" th:each="tag: ${item.getCategorys()}"
											th:text="${tag}">카테고리명</button>
									</div>
								</li>
							</th:block>


						</ul>
					</div>
				</div>

				<a href="#" class="apply"></a>
				<div class="recommend">
					<h3 class="recommend-title">RECOMMENDED ARTCICLES</h3>
					<p class="recommend-desc">
						<span class="recommend-txt">갓 구워낸 신작들을 만나보세요.</span>
					</p>

					<div class="fslide">
						<!-- DB에 있는 모든 게시글을 가져오면서 width를 늘려나감.-->
						<!-- width가 추가 되면서 transform: translateX(-960px);의 px값을 변경 -->
						<ul class="fslide-wrap" style="width: 3000px; transition: -webkit-transform 0.5s ease 0s;"
							th:style="'width: ' + (${footerSlideItemsCount} * 300) + 'px;' + 'transition: -webkit-transform 0.5s ease 0s;'">

							<!-- DB에 있는 모든 게시글을 계속 가져옴.-->
							<!-- 갯수는 정해져있지않음 -->
							<th:block th:each="item : ${footerSlideItems}">
								<li>
									<a href="#" th:href="@{/post-details/post-details/{post_id}(post_id=${item.getPost_id()})}"
										class="fslide-item" target="_blank">
										<div class="fitem-img">
											<img src="/images/blank-image.png" th:src="${item.getFilepath()}" width="240"
												th:alt="${item.getTitle()}">
										</div>
										<strong class="fitem-title" th:text="${item.getTitle()}">제목</strong>
										<p class="fitem-desc" th:text="${item.getContent()}">
											본문 내용
										</p>
										<span class="fitem-info" th:text="| ${item.getMember_nickname()}|">
											<span class="fitem-by">by</span>
											&nbsp;작성자
										</span>
									</a>
								</li>
							</th:block>



						</ul>
					</div>
					<div class="fslide-btns">
						<!-- 활성화되면 display: inline -->
						<a href="#js" class="fslide-prev">
							<span class="fslide-btn">이전 추천글 보기</span>
						</a>
						<a href="#js" class="fslide-next">
							<span class="fslide-btn">다음 추천글 보기</span>
						</a>
					</div>
					<div class="mask_left"></div>
					<div class="mask_right"></div>
					<!-- </div>  얘 왜 있음? -->
				</div>
			</article>
		</div>
		<a href="#js" class="goto-top on">Top</a>
	</main>
	<hr class="hide">
	<footer class="footer">
		<div class="footer-inner">
			<div class="footer-wrap">
				<div class="footer-quotation">

					<img class="site-logo" src="/images/glowriters.png">
					<p class="site-slogan">
						You can make anything
						<br>
						by writing.
					</p>
					<p class="site-sloganwriter">C.S.Lewis</p>
				</div>
				<ul class="footer-service">
					<li><a href="#" target="_blank" class="footer-service-link">글로우라이터스 이용안내</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">블로거신청</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">블로거 지원 프로젝트</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">제휴제안</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">고객센터</a></li>
				</ul>
				<ul class="footer-policy">
					<li><a href=" #" target="_blank" class="footer-service-link">이용약관</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">이전 이용약관</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">카카오 유료서비스 이용약관</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">카카오 개인정보 처리 방침</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">청소년 보호정책</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">운영정책</a></li>
				</ul>
				<ul class="footer-sns">
					<li><a href="#" target="_blank" class="footer-service-link">글로우라이터스 공지사항</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">공식 카카오톡 채널</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">공식 인스타그램</a></li>
					<li><a href="#" target="_blank" class="footer-service-link">공식 페이스북</a></li>
				</ul>
			</div>
			<div class="footer-corp">
				<!-- 카카오 기능 1 -->
				<small class="copyright"></small>
				<ul class="download">
					<li>
						<a href="#" target="_blank" class="footer-site-info">
							<span class="ico-android">안드로이드 앱 다운로드</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" class="footer-site-info">
							<span class="ico-ios">아이폰 앱 다운로드</span>
						</a>
					</li>
				</ul>
			</div>
	</footer>
	<div class="layer-login" style="display: none;">
		<h2 class="screen-out">글로우라이터스 로그인</h2>
		<div class="sign">
			<div class="item-slide">
				<div class="top-logo">
					<a href="#" class="link-glow">
						<span class="ico-glow"></span>
						<span class="screen-out">글로우라이터스</span>
					</a>
				</div>
				<div class="cont-slide">
					<div class="slide-box">
						<!-- slide-list에 추가로 slide1, slide2, slide3이 붙음 -->
						<ul class="slide-list">
							<li class="slide-item slide1">
								<a href="#" target="_blank" class="link-item">
									<div class="thum-item">
										<img src="https://t1.daumcdn.net/brunch9/static/images/pc/pc-img-start-01.png" 
											width="315" height="208">
									</div>
									<div class="cont-item">
										<strong class="tit-info">글로우라이터스 블로거로 데뷔하세요</strong>
										<span class="txt-info">
											진솔한 에세이부터 업계 전문 지식까지,<br>당신의 이야기를 세상에 선보이세요.
										</span>
									</div>
								</a>
							</li>
							<li class="slide-item slide2">
								<a href="#" target="_blank" class="link-item">
									<div class="thum-item">
										<img src="https://t1.daumcdn.net/brunch9/static/images/pc/pc-img-start-02.png" 
											width="315" height="208">
									</div>
									<div class="cont-item">
										<strong class="tit-info">글로우라이터스로 제안받는 새로운 기회</strong>
										<span class="txt-info">
											다양한 프로젝트와 파트너를 통해<br>블로거님의 작품이 책·강연 등으로 확장됩니다.
										</span>
									</div>
								</a>
							</li>
							<li class="slide-item slide3">
								<a href="#" target="_blank" class="link-item">
									<div class="thum-item">
										<img src="https://t1.daumcdn.net/brunch9/static/images/pc/pc-img-start-03.png" 
											width="315" height="208">
									</div>
									<div class="cont-item">
										<strong class="tit-info">글로 만나는 블로거의 경험</strong>
										<span class="txt-info">
											블로거를 구독하고, 새 글을 받아보세요.<br>당신에게 영감을 주는 작품을 추천합니다.
										</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<!-- 여기부터 -->
					<div class="paging-box">
						<button class="btn-prev btn-arrow">
							<span class="btn-prev-ico">이전</span>
						</button>
						<ul class="paging">
							<li>
								<button class="btn-paging slide1">
									<span class="screen-out">1</span>
								</button>
							</li>
							<li>
								<button class="btn-paging slide2">
									<span class="screen-out">2</span>
								</button>
							</li>
							<li>
								<button class="btn-paging slide3">
									<span class="screen-out">3</span>
								</button>
							</li>
						</ul>
						<button class="btn-next btn-arrow">
							<span class="btn-next-ico">다음</span>
						</button>
					</div>
				</div>
			</div>
			<div class="item-start">
				<div class="box-start">
					<strong class="tit-txt">글로우라이터스 시작하기</strong>
					<a th:href="@{|${kakaoUrl}|}" class="link-start" data-click="클릭시 카카오서버에 인증 요청 전송">
						<span class="kakao-ico"></span>
						<span class="txt-item"><button type="submit">카카오계정으로 로그인</button></span>
					</a>


				</div>
				<div class="box-search">
					<strong class="tit-txt">내 글로우라이터스 찾기</strong>
					<a href="#" target="_blank" title="새창열림" class="link-search">내 글로우라이터스의 카카오 계정을 모르겠어요</a>
					<a href="#" target="_blank" title="새창열림" class="link-search">페이스북 * 트위터로만 로그인 했었나요?</a>
					<a href="#" target="_blank" title="새창열림" class="desc-help">로그인 관련 상세 도움말</a>
				</div>
			</div>
			<button class="btn-close">
				<span class="screen-out">창 닫기</span>
				<span class="ico-close"></span>
			</button>
		</div>
	</div>
	<script th:inline="javascript">
	var contentCnt = /*[[${footerSlideItemsCount}]]*/ 0;
	</script>
	<script src="/js/main/main.js"></script>
</body>
</html>