header {
    display: block;
    unicode-bidi: isolate;
}

body {
    background: #fff;
    color: #333;
}

body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}

button, input, select, textarea {
    vertical-align: middle;
}

dl, li, menu, ol, ul {
    list-style: none;
}

strong, em, dd, pre, span, a, button {
    font-family: "Noto Sans Light";
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans DemiLight", "Malgun Gothic", sans-serif;
    backface-visibility: hidden;
    margin: 0;
    padding: 0;
    text-rendering: inherit;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

fieldset, img {
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

strong {
    font-weight: bold;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

dt {
    display: block;
    unicode-bidi: isolate;
}

dd {
    display: block;
    unicode-bidi: isolate;
}


a {
    color: #333;
}

a, a:active, a:hover {
    text-decoration: none;
}

em {
    font-style: italic;
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}

h2.screen-out{
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    height: 0;
    position: absolute;
    width: 0;
}

div.header-image{
    height: 320px;
    position: relative;
    height: 120px;
/*     background-color: #f8f8f8; */
    background-repeat: no-repeat;
    background-size: cover;
}

div.profile{
    position: relative;
    width: 700px;
    margin: 0 auto 97px;
    padding: 35px 0 0;
}

div.profile-img{
    overflow: hidden;
    position: absolute;
    top: -50px;
    right: 0;
    width: 100px;
    height: 100px;
    background-position: -250px -80px;
}

img.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: zoom-in;
    background-color: #fff;
    display: block;
}

strong.title{
    line-height: 39px;
    display: block;
    padding-right: 170px;
    font-weight: 400;
    font-size: 28px;
}

pre.title{
    padding: 5px 180px 0 0;
    font-size: 13px;
    line-height: 20px;
    color: #959595;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
    margin-bottom: -1px;
    display: block;
    unicode-bidi: isolate;
}

dl.blog-count{
    overflow: hidden;
    padding: 22px 200px 0 0;
    font-size: 12px;
    color: #959595;
}

dt.screen-out{
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    height: 0;
    position: absolute;
    width: 0;
}

dd.follower{
    float: left;
    margin-right: 40px;
}

em.sub{
    display: block;
}

span.num-count{
    display: block;
    margin-top: -2px;
    font-weight: 300;
    font-size: 20px;
    color: #959595;
}

dd.following{
    margin-right: 0;
    float: left;
    margin-right: 40px;
}

a.link-count{
    color: #959595;
    text-decoration: none;

}

em.txt{
    display: block;
}

div.wrap-profilebtn{
    position: absolute;
    right: 0;
    bottom: 2px;
    height: 42px;
    padding-right: 27px;
}

a.btn{
    width: 94px;
    color: #959595;
    border-color: #ddd;
    height: 42px;
    line-height: 41px;
    border-radius: 21px;
    font-size: 14px;
    float: left;
    padding: 0;
    display: inline-block;
    min-width: 80px;
    border: 1px solid #BBB;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    text-decoration: none;
}

button.follow-button{
    color:  #E7BCDE;
    border-color:  #E7BCDE;
    width: 88px;
    height: 42px;
    line-height: 41px;
    border-radius: 21px;
    font-size: 14px;
    float: right;
    margin-left: 10px;
    padding: 0;
    display: inline-block;
    min-width: 80px;
    border: 1px solid  #E7BCDE;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    opacity: .9;
}

span.follow-button{
    color: #E7BCDE;
    line-height: 41px;
    font-size: 14px;
    text-align: center;
}

img.follow-button{
    height: 17px;
    margin-right: 3px;
    vertical-align: sub;
    width: 17px;
}

div.control{
    position: absolute;
    top: 6px;
    right: -12px;
}

div.control::after{
    content: "";
    display: block;
    clear: both;
}


button.btn-more{
    overflow: hidden;
    width: 27px;
    height: 32px;
    font-size: 0;
    text-indent: -9999px;
}

span.btn-more-v{
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: top;
}

span.btn-more-v{
    background: url(//t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_v1_221221.png) no-repeat;
}

span.btn-more{
    display: block;
    position: relative;
    width: 4px;
    height: 17px;
    margin: 0 0 1px 12px;
    background-position: -180px -190px;
}

div.layer{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity = 95);
    opacity: .95;
}

div.layer-action{
    display: none;
    position: absolute;
    top: 42px;
    right: 12px;
    z-index: 100010;
    width: 218px;
    height: auto;
}

div.inner-action{
    border: 1px solid #DDD;
    background-color: #fff;
}

button.btn-ctrl-first{
    border-top: 0 none;
    display: block;
    width: 100%;
    height: 42px;
    font-size: 13px;
    color: #959595;
}

button.btn-ctrl-first:hover{
    background-color: #f7f7f7;
    color: #333;
}

button.btn-ctrl-second{
    border-top: 1px solid #EEE;
    display: block;
    width: 100%;
    height: 42px;
    font-size: 13px;
    color: #959595;
}

button.btn-ctrl-second:hover{
    background-color: #f7f7f7;
    color: #333;
}

div.tab-contents{
    position: relative;
    width: 700px;
    margin: 0 auto;
}

strong.screen-out{
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    height: 0;
    position: absolute;
    width: 0;
}

ul.list-tab{
    height: 58px;
    border-top: 1px solid #eee;
}

li.list-tab{
    float: left;
    width: 100%;
}

a.list-tab{
    display: block;
    width: 100%;
    height: 24px;
    margin-top: -1px;
    padding: 16px 0 17px;
    border-top: 1px solid transparent;
    font-size: 16px;
    color: #959595;
    text-align: center;
    text-decoration: none;
}

span.txt-tab{
    display: inline-block;
    position: relative;
    padding: 0 7px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}

a.click-tab{
    border-color: #333;
    color: #333;
}

em.new{
    display: inline-block;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
}

/* em.new{
    background: url(//t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_v1_221221.png) no-repeat;
} */

em.icon-new{
    background-color: #E7BCDE;
    border-radius: 2.5px;
    font-size: 0;
    height: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5px;
}

div.wrap-contents{
    overflow: hidden;
}

div.profile-info{
    animation: animation_up .2s;
    transition: opacity .2s ease-out 0s, transform .2s ease-out 0s;
}

h3.screen-out{
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    height: 0;
    position: absolute;
    width: 0;
}

div.blogger-intro{
    padding-top: 34px;
    width: 700px;
    margin: 0 auto;
}

strong.tit-intro{
    display: block;
    font-weight: 400;
    font-size: 12px;
}

p.intro{
    padding-top: 22px;
    font-weight: 200;
    font-size: 13px;
    line-height: 24px;
    color: #666;
}

ul.list-tag{
    overflow: hidden;
    padding-top: 13px;
}

li.list-tag{
    float: left;
    margin-right: 8px;
}

a.link-tag{
    display: inline-block;
    padding: 4px 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 12px;
    color: #959595;
    letter-spacing: -1px;
    text-decoration: none;
}

div.article-post{
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
    padding: 0 120px;
    animation: animation_up .2s;
    transition: opacity .2s ease-out 0s, transform .2s ease-out 0s;
}

div.article-list{
    overflow: hidden;
}

ul.list-article{
    margin-top: 7px;
    list-style: none;
}

li.article{
    min-height: 125px;
    position: relative;
    padding: 24px 0 60px;
    border-bottom: 1px solid #eee;
    animation: animation_up .2s;
    transition: opacity .2s ease-out 0s, transform .2s ease-out 0s;
}

a.link-category{
    display: inline-block;
    margin: 3px 0 11px;
    font-size: 13px;
    color: #E7BCDE;
    vertical-align: top;
    text-decoration: none;
}

em.tit-category{
    display: inline-block;
    min-width: 20px;
    border-bottom: 1px solid #E7BCDE;
    line-height: 14px;
    font-size: 13px;
    color: #E7BCDE;
}

a.link-post{
    overflow: visible;
    display: block;
    clear: both;
}

div.post-title{
    width: 540px;
    min-height: 129px;
    float: left;
}

strong.tit-subject{
    color: #333;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -1px;
    white-space: nowrap;
}

div.post-desc{
    width: 540px;
}

div.wrap-sub-content{
    overflow: hidden;
    display: -webkit-box;
    max-height: 43px;
    padding-top: 5px;
    font-size: 14px;
    line-height: 21px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

em.tit-sub{
    padding-top: 6px;
    color: #666;
}

span.ico-bar{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 4px 3px 0;
    background-color: #eee;
    vertical-align: top;
}

span.article-content{
    color: #959595;
    word-break: break-all;
    word-wrap: break-word;
}

div.post-thumb{
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 25px;
    width: 120px;
    margin-top: 5px;
}

img.img-thumb{
    float: left;
    display: block;
}

span.post-append{
    display: block;
    overflow: hidden;
    padding-top: 21px;
    font-size: 12px;
    color: #959595;
}

span.name{
    float: left;
}

span.num-txt{
    float: left;
}

span.ico-dot{
    float: left;
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 9px 5px 0 6px;
    background-color: #ddd;
    vertical-align: top;
}

span.publish-time{
    float: left;
}

div.background{
    background: #f8f8f8;
    position: fixed;
    z-index: 10010;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

div.inner-report{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    border: 1px solid #ddd;
    background: #fff;
    transform: translate(-50%, -50%);
}



/*  */

legend.ir-pm{
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

div.report-body{
    padding: 54px 55px;
}

strong.tit-report{
    display: block;
    padding-bottom: 25px;
    font-family: NotoLight, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

div.report-choice-1{
    width: 50%;
    float: left;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
}

input.radio-input{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 0;
    -webkit-appearance: none;
    vertical-align: top;
    border: 0 none;
    opacity: .01
}

label.lab-comm{
    padding-left: 0;
    background: #fff;
    color: #333;
    font-size: 14px;
    display: block;
}

div.report-choice-2{
    width: 50%;
    float: left;
    display: inline-block;
    padding-bottom: 11px;
    margin-top: 0;
    position: relative;
}

div.report-choice-3{
    display: inline-block;
    width: 100%;
    padding-bottom: 11px;
    margin-top: 0;
    position: relative;
}

div.ico-radio{
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #fff;
    vertical-align: top;
}

div.box-txtarea{
    position: relative;
    padding: 18px 22px;
    border: 1px solid #eee;
    margin: -5px 0 15px;
    background: #fff;
}

label.tf-reason{
    position: absolute;
    top: 18px;
    left: 22px;
    color: #959595;
    font-size: 13px;
    line-height: 22px;
}
textarea.tf_reason{
    width: 100%;
    min-height: 42px;
    border: 0 none;
    resize: none;
    outline-style: none;
}

p.against{
    margin: -6px 0 15px 27px;
    color: #959595;
    font-size: 13px;
    line-height: 22px;
}

a.link-against{
    display: inline-block;
    color: #959595;
    text-decoration: underline;
}

div.wrap-btn{
    margin-top: 25px;
    text-align: center;
    margin: 0;
    font-size: 0;
}

button.btn-close{
    width: 84px;
    height: 42px;
    padding: 8px 20px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    color: #909090;
    font-size: 14px;
}

button.btn-report{
    margin-left: 12px;
    width: 84px;
    height: 42px;
    padding: 8px 20px 10px;
    border-color: #E7BCDE;
    color: #E7BCDE;
    background-color: #fff;
    border: 1px solid;
    border-radius: 100px;
    font-size: 14px;
}

/*  */


















.radio-input:checked + .lab-comm .ico-radio{
    position: relative;
    border-color: #E7BCDE;
}

.radio-input:checked + .lab-comm .ico-radio::after{
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #E7BCDE;
    content: "";
}

label.checked{
    color: #E7BCDE;
    padding-left: 0;
    background: #fff;
    font-size: 14px;
}

body.modal-open {
    overflow: hidden; /* 스크롤 숨기기 */
}

.subscriber-realmain-modalWrap {
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    height: 283px;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    z-index: 10001;
}

.subscriber-realmain-modalWrap .modal-title {
    color: #333;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: -.75px;
    margin-top: 54px;
}

.subscriber-realmain-modalWrap .modal-content {
    color: #959595;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 21px;
}

.subscriber-realmain-modalWrap .modal-button-wrap {
    margin-top: 30px;
    display: flex; /* 버튼을 수평으로 정렬하기 위해 flex 속성 추가 */
    justify-content: center; /* 버튼을 가운데 정렬하기 위해 추가 */
    gap: 20px; /* 버튼 사이의 간격 조절 */
}

.subscriber-realmain-modalWrap button {
    background-color: #fff;
    border-radius: 40px;
    height: 42px;
    padding: 9px 16px 11px;
    width: 138px;
}

.subscriber-realmain-modalWrap .continue-button {
    border: 1px solid #ddd;
    color: #959595;
}
.continue-button:hover{
    border: 2px solid #E7BCDE;
}
.modal-black {
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}







