<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style data-emotion="css-global" data-s="">
		@font-face {
			font-family: "Nanum Myeongjo";
			font-weight: normal;
			src: url("/fonts/NanumMyeongjo.ttf") format("truetype");
		}

		@font-face {
			font-family: "Noto Sans Light";
			font-style: normal;
			font-weight: 300;
			src: url("/fonts/NotoSansCJKkr-Light.otf");
		}

		@font-face {
			font-family: "Noto Sans DemiLight";
			font-style: normal;
			font-weight: 300;
			src: url("/fonts/NotoSansCJKkr-DemiLight.otf");
		}
	</style>
	<link rel="shortcut icon" href="/images/glowritersFavicon.png" type="image/x-icon" />
	<link rel="stylesheet" href="/css/main/header.css" />
	<title>잘라붙일 헤더 페이지</title>
</head>

<body>
<div class="header-sidemenu open" th:fragment="fragment-header1">
			<main>
				<button class="sidemenu-closebtn" type="button">닫기</button>
				<div class="loginprofile">
					<div class="logoutservice">
						<div class="sidemenu-profile-logo logoutservice"></div>
						<p class="sidemenu-profile-slogan logoutservice">
							You can make anything
							<br>
							by writing
						</p>
<!-- 						<p class="sidemenu-profile-sloganwriter logoutservice">C.S.Lewis</p> -->
					</div>
					<a href="#" class="myprofilelink loginservice">
						<div class="profile-img">
							<img class="picture" alt="프로필이미지" src="/images/blank-image.png">
						</div>
						<div class="profile-info">
							<strong class="profile-name">냠냠냠</strong>
							<p class="profile-id">glowriters.co.kr/해쉬주소</p>
						</div>
					</a>
					<div class="logoutservice">
						<a href="#" class="profile-logout-a">
							<button class="profile-logout-btn">글로우라이터스 시작하기</button>
						</a>
					</div>
					<div class="loginservice">
						<a href="#" class="profile-write">
							<button class="profile-write-btn">글쓰기</button>
						</a>
						<a class="profile-alarm" href="#">
							알림
						</a>
						<span class="alarm-notify">NEW</span>
					</div>
				</div>
				<div class="sidemenu-service this"> 
        <ul>
          <li class="sidemenu-service-now">
					<a class="now-word" href="#">
						<span class="bar-left"></span>
						글로우라이터스 홈
						<span class="bar-right"></span>
					</a>
					</li>
					<li>
						<a class="glowNow" href="#">
							<span class="bar-left"></span>
							글로우라이터스 나우
							<span class="bar-right"></span>
						</a>
					</li>
					<li>
						<a class="glowAnother" href="#">
							<span class="bar-left"></span>
							아무거나
							<span class="bar-right"></span>
						</a>
					</li>
					</ul>
					<div class="sidemenu-setting this" style="position: absolute"> <!--클래스 2개 사용-->
						<div class="sidemenu-banner" style="padding-bottom:40px;">
							<a class="sidemenu-project" href="#">
								<img style="width:168px"
									src="//i1.daumcdn.net/thumb/R336x0/?fname=http://t1.daumcdn.net/brunch/static/img/help/pc/top/side_banner_20221221.png"
									alt="프로젝트 리스트 바로가기">
							</a>
						</div>
						<div class="logoutservice">
							<a href="#" class="sidemenu-findAccount">
								계정을 잊어버리셨나요?
							</a>
						</div>
						<div class="bottom-setting-container">
							<a class="sidemenu-bottom-setting loginservice" href="#">
								<button type="button">설정</button>
							</a>
							<a class="sidemenu-bottom-logoutbtn loginservice" href="#">
								<button type="button">로그아웃</button>
							</a>
						</div>

						<div class="donation_intro loginservice">
							<span>응원하기를 켤 수 있어요!</span>
							<i class="mint_rectangle"></i>
						</div>
					</div>
				</div>
			</main>
		</div>
		<header class="header" th:fragment="fragment-header2">
			<div class="header-top this">
				<div class="header-top-inner">
					<div class="top-inner-first">
						<button class="inner-first-btn" type="button">메뉴</button>
						<h1 class="inner-first-logo">
							<a href="#" class="first-logo-img">glow</a>
						</h1>
					</div>
					<div class="top-inner-third">
						<a href="#" class="inner-third-login loginservice">글쓰기</a>
						<a href="#" class="inner-third-login logoutservice">로그인</a>
					</div>
					<div class="top-inner-second">
						<div class="inner-second-search">
							<form action="#" method="get">
								<input name="q" class="second-search-input" type="text" title="검색어입력"
									placeholder="검색어를 입력해 주세요" autocomplete="off" value>
								<input name="profiled" type="hidden" value>
							</form>
							<!-- 이 버튼을 누르면 검색 페이지(search)로 이동 -->
							<button class="second-search-btn" type="button">검색</button>
						</div>
					</div>
				</div>
			</div>
		</header>

</body>
<script src="/js/main/header.js"></script>

</html>