<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- 여기서부터 -->
	<style data-emotion="css-global" data-s="">
		@import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
		@import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";

		@font-face {
			font-family: OhouseIcon;
			src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
			src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix) format("embedded-opentype"),
				url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2"),
				url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff) format("woff"),
				url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf) format("truetype"),
				url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon) format("svg");
		}

		html {
			font-family: "Pretendard Variable", sans-serif;
			letter-spacing: -0.3px;
			-webkit-font-smoothing: antialiased;
		}
	</style>

	<!-- 여기까지는 무조건 고정으로 모든 페이지에 복붙하세요 -->
	<!-- 여기는 각자 css 파일 link하시면 됩니다 -->
	<link rel="shortcut icon" href="/images/glowritersFavicon.png" type="image/x-icon" />
	<link rel="shortcut icon" href="/images/selleaf.png" type="image/x-icon" />
	<link rel="stylesheet" href="/css/manager/user/user.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<title>사용자 관리</title>
</head>

<body class="overflow-hidden">
	<div class="next">
		<div class="full-screen">
			<nav class="benner-wrap">
				<div>
					<div class="items-center">
						<div class="manager-center">
							<span>Glowriters</span>
						</div>
						<div class="logo-between">|</div>
						<div class="manager-center">
							<span>Manager Center</span>
						</div>
					</div>
				</div>
			</nav>
			<div class="under-container">
				<nav class="side-benner">
					<div class="profile-wrap">
						<div class="profile-container">
							<div class="profile-inner">
								<button aria-label="profile image" class="profile-icon" type="button"
									style="width: 68px; height: 68px; outline: none">
									<img src="/images/glowritersFavicon.png" alt="프로필 이미지" sizes="(max-width: 240px) 100vw, 240px"
										decoding="async" data-nimg="fill" class="profile-img" loading="lazy" style="
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        inset: 0px;
                        object-fit: cover;
                        object-position: center center;
                        color: transparent;
                      " />
									<div class="profile-under-cover"></div>
								</button>
							</div>
							<h2 class="profile-name">관리자</h2>
							<a target="_blank" href="/manager/logout">
								<button class="mypage" aria-label="button" type="button">
									<div class="mypage-name">
										<div>로그아웃</div>
										<svg viewBox="0 0 24 24" class="mypage-link" xmlns="http://www.w3.org/2000/svg" height="16px"
											width="16px">
											<path d="M11 7a1 1 0 0 0-1-1H4v14h14v-6a1 1 0 1 0-2 0v4H6V8h4a1 1 0 0 0 1-1Z"></path>
											<path
												d="M19.01 3.829H20v6.656a1 1 0 1 1-2 0V7.244l-5.293 5.293a1 1 0 0 1-1.414-1.415l5.293-5.292h-3.243a1 1 0 1 1 0-2H19.01Z">
											</path>
										</svg>
									</div>
								</button>
							</a>
						</div>
					</div>
					<ul class="side-function">
						<li class="function-wrap-1">
							<a th:href="@{/manager/user}" class="function-1">
								<svg class="function-1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 3.7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd"
										d="M10.269 8.965A6 6 0 0 0 8.5 8.7h-2a6 6 0 0 0-6 6v1a2 2 0 0 0 2 2h8.01a6.478 6.478 0 0 1-1.81-4.5c0-1.617.591-3.097 1.569-4.235ZM11.945 10.147a.665.665 0 0 1 .306-.74l.833-.49a.665.665 0 0 1 .795.092l.46.437c.167.16.398.231.63.23a.892.892 0 0 0 .626-.24l.451-.445a.665.665 0 0 1 .794-.105l.84.476a.665.665 0 0 1 .32.735l-.15.616a.896.896 0 0 0 .116.66c.118.2.298.36.522.423l.61.169c.287.079.486.338.488.635l.008.966a.665.665 0 0 1-.477.643l-.608.18a.892.892 0 0 0-.513.43.898.898 0 0 0-.105.662l.159.614a.665.665 0 0 1-.307.74l-.832.49a.665.665 0 0 1-.795-.092l-.46-.437a.898.898 0 0 0-.63-.23.892.892 0 0 0-.626.24l-.452.445a.665.665 0 0 1-.794.105l-.84-.476a.665.665 0 0 1-.319-.734l.15-.618a.894.894 0 0 0-.117-.66.894.894 0 0 0-.52-.421l-.612-.17a.665.665 0 0 1-.488-.635l-.008-.965a.665.665 0 0 1 .477-.643l.608-.18a.892.892 0 0 0 .514-.43.898.898 0 0 0 .105-.663l-.159-.614Zm3.115 4.279a1.283 1.283 0 1 0 0-2.567 1.283 1.283 0 0 0 0 2.567Z">
									</path>
								</svg>
								<span class="function-1">사용자 관리</span>
							</a>
						</li>
						<!-- 						<li class="function-wrap-2"> -->
						<!-- 							<a href="#" class="function-2"> -->
						<!-- 								<svg class="function-2" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"> -->
						<!-- 									<path -->
						<!-- 										d="M2 5.111C2 4.498 2.45 4 3.007 4h15.099c.556 0 1.006.498 1.006 1.111 0 .614-.45 1.112-1.006 1.112h-15.1C2.452 6.223 2 5.725 2 5.11ZM2 10.668c0-.614.45-1.111 1.007-1.111h10.946a6.53 6.53 0 0 0-2.418 2.223H3.007C2.45 11.78 2 11.282 2 10.668ZM10.503 15.114H3.007C2.45 15.114 2 15.61 2 16.225s.45 1.111 1.007 1.111h7.818a6.496 6.496 0 0 1-.322-2.222Z" -->
						<!-- 										fill="#333334"></path> -->
						<!-- 									<path fill-rule="evenodd" clip-rule="evenodd" -->
						<!-- 										d="M13.945 12.347a.665.665 0 0 1 .306-.74l.833-.49a.665.665 0 0 1 .795.092l.46.437c.167.16.398.231.63.23a.892.892 0 0 0 .626-.24l.451-.445a.665.665 0 0 1 .794-.105l.84.476a.665.665 0 0 1 .32.735l-.15.616a.895.895 0 0 0 .116.66c.118.2.298.36.522.423l.61.169c.287.079.486.338.488.635l.008.965a.665.665 0 0 1-.477.644l-.608.179a.892.892 0 0 0-.513.43.898.898 0 0 0-.105.663l.159.614a.665.665 0 0 1-.307.74l-.832.49a.665.665 0 0 1-.795-.092l-.46-.437a.898.898 0 0 0-.63-.23.893.893 0 0 0-.626.24l-.452.445a.665.665 0 0 1-.794.105l-.84-.476a.665.665 0 0 1-.319-.734l.15-.618a.894.894 0 0 0-.117-.66.894.894 0 0 0-.52-.421l-.612-.17a.665.665 0 0 1-.488-.635l-.008-.965a.665.665 0 0 1 .477-.643l.608-.18a.892.892 0 0 0 .514-.43.898.898 0 0 0 .105-.663l-.159-.614Zm3.115 4.279a1.283 1.283 0 1 0 0-2.567 1.283 1.283 0 0 0 0 2.567Z" -->
						<!-- 										fill="#333334"></path> -->
						<!-- 								</svg> -->
						<!-- 								<span class="function-2">게시물 관리</span> -->
						<!-- 							</a> -->
						<!-- 						</li> -->
						<li class="function-wrap-2">
							<a th:href="@{/manager/comment}" class="function-2">
								<svg class="function-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M8.892 9.13a.5.5 0 0 0-.862 0l-.576.977a.5.5 0 0 1-.33.236l-1.112.228a.5.5 0 0 0-.266.83l.748.806a.5.5 0 0 1 .13.394l-.12 1.092a.5.5 0 0 0 .697.513l1.06-.462a.5.5 0 0 1 .4 0l1.06.462a.5.5 0 0 0 .697-.513l-.12-1.092a.5.5 0 0 1 .13-.395l.748-.805a.5.5 0 0 0-.267-.83l-1.11-.228a.5.5 0 0 1-.33-.236l-.577-.977ZM18.108 10.3a.7.7 0 0 1-.7.7h-3.732a.7.7 0 1 1 0-1.4h3.732a.7.7 0 0 1 .7.7ZM17.408 14a.7.7 0 1 0 0-1.4h-3.732a.7.7 0 1 0 0 1.4h3.732Z">
									</path>
									<path fill-rule="evenodd" clip-rule="evenodd"
										d="M2.2 8.4A4.4 4.4 0 0 1 6.6 4h10.7a4.4 4.4 0 0 1 4.4 4.4v6.8a4.4 4.4 0 0 1-4.4 4.4H6.6a4.4 4.4 0 0 1-4.4-4.4V8.4Zm4.4-2.8h10.7a2.8 2.8 0 0 1 2.8 2.8v6.8a2.8 2.8 0 0 1-2.8 2.8H6.6a2.8 2.8 0 0 1-2.8-2.8V8.4a2.8 2.8 0 0 1 2.8-2.8Z">
									</path>
								</svg>
								<span class="function-2">댓글 관리</span>
							</a>
						</li>
					</ul>
				</nav>
				<div class="content-wap">
					<div class="content-container">
						<div class="content-inner">
							<div class="content-box">
								<div class="header">
									<h1 class="header-name">사용자 관리</h1>
									<div>
										<div class="compose-button">
											<button class="delete-button" aria-label="delete button" type="button">
												<svg class="edit-button" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd"
														d="M10 15.6a.7.7 0 0 1-.7-.7v-3.6a.7.7 0 0 1 1.4 0v3.6a.7.7 0 0 1-.7.7ZM14 15.6a.7.7 0 0 1-.7-.7v-3.6a.7.7 0 1 1 1.4 0v3.6a.7.7 0 0 1-.7.7Z">
													</path>
													<path fill-rule="evenodd" clip-rule="evenodd"
														d="M9.6 3.8h4.6c.22 0 .4.178.4.4v1.4H9.2V4.2c0-.222.179-.4.4-.4Zm-2 .4a2 2 0 0 1 2-2h4.6a2 2 0 0 1 2 2v1.4h3.5a.8.8 0 0 1 0 1.6H19v10.4a4 4 0 0 1-4 4H9a4 4 0 0 1-4-4V7.2h-.7a.8.8 0 1 1 0-1.6h3.3V4.2Zm-1 3h10.8v10.4A2.4 2.4 0 0 1 15 20H9a2.4 2.4 0 0 1-2.4-2.4V7.2Z">
													</path>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<div class="header-function-container">
									<ul class="header-function-inner">
										<li class="header-relative">
											<button class="lecture-info" aria-label="tab button" type="button" id="btn">
												<div class="flex">
													<p class="lecture-info">사용자 정보</p>
													<div class="lecture-info-num">
														<p class="lecture-info-num">3</p>
													</div>
												</div>
											</button>
											<div class="lecture-underbar" id="under"></div>
										</li>
									</ul>
								</div>
								<div class="all-list">
									<div>
										<span class="all-name">전체</span>
										<span class="all-num">3</span>
									</div>
									<div class="search-bar">
										<label class="search-bar">
											<input class="search-bar this" placeholder="사용자 검색" type="text" value onkeydown="handleEnterKey(event)" />
											<button aria-label="search button" class="search-bar" type="button">
												<img class="search-logo" src="/images/search_icon.png" />
												<img class="cancel-logo" src="/images/cancel.png" />
											</button>
										</label>
									</div>
								</div>
							</div>
							<div class="category-benner">
								<input type="checkbox" class="all-check" />
								<div class="category-inner" style="width: 820px">아이디</div>
								<div class="category-inner">신고수</div>
							</div>
							<ul class="list-content" id="userList">



								<th:block th:each="item : ${mmds}">
									<li class="list-content" th:report_id="${item.getReportMember_id()}">
										<input type="checkbox" class="checkbox-input" />
										<button class="text-left">
											<div class="list-content-wrap">
												<div class="list-content-container">
													<div class="list-content-inner">
														<div class="content-name">
															<p class="content-name" th:text="${item.getMember_nickname()}">사용자 닉네임</p>
														</div>
														<div class="content-name" style="color:#8a8787; margin-top:10px">
															<p class="content-name" style="font-size: 120%;" th:text="${item.getReport_content()}">신고 내용</p>
														</div>
													</div>
												</div>
											</div>
										</button>
										<div class="content-open-wrap"></div>
										<div class="content-detail">
											<div class="content-detail-a">
												<div class="content-detail-num" th:text="${item.getReport_count()}">신고 수</div>
											</div>
										</div>
									</li>
								</th:block>


							</ul>

						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="delete-modal-wrap">
			<div class="delete-modal-container">
				<h4 class="delete-modal">사용자 삭제</h4>
				<div class="delete-modal-inner">해당 사용자를 삭제하시겠습니까?</div>
				<div class="delete-modal-box">
					<div class="modal-cancel">
						<button class="modal-cancel" aria-label="button" type="button">
							취소
						</button>
					</div>
					<div class="modal-confirm">
						<button class="modal-confirm" aria-label="button" type="button">
							확인
						</button>
					</div>
				</div>
			</div>
			<div class="delete-modal-bgcolor"></div>
		</div>
	</div>
</body>
<script src="/js/manager/user/user.js"></script>

</html>