<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style data-emotion="css-global" data-s="">
@font-face {
	font-family: "Nanum Myeongjo";
	font-weight: normal;
	src: url("/fonts/NanumMyeongjo.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans Light";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/NotoSansCJKkr-Light.otf");
}

@font-face {
	font-family: "Noto Sans DemiLight";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/NotoSansCJKkr-DemiLight.otf");
}
</style>
<link rel="shortcut icon" href="/images/glowritersFavicon.png"
	type="image/x-icon" />
<link rel="stylesheet" href="/css/category/category.css" />
<link rel="stylesheet" href="/css/main/header.css"
	data-whatIsThis="헤더CSS임포트" />
<title>브런치 키워드: 여행</title>
</head>

<body>
	<div th:replace="~{/main/header :: fragment-header1}">헤더파일 가져오는곳</div>
	<div th:replace="~{/main/header :: fragment-header2}">헤더파일 가져오는곳</div>
	<div class="category-wrap">
		<div class="category-main-wrap">
			<div class="category-main-title-wrap">
				<div class="category-main-title-wrapWrap">
					<h2 class="category-main-what">글 키워드</h2>
					<div class="category-main-title" th:text="${category}">카테고리명</div>
				</div>
			</div>
		</div>
		<main>
			<div class="category-realmain-wrap">
				<div class="category-realmain-wrapdiv">
					<h4 class="category-realmain-what">글 목록</h4>
					<div class="category-realmain-contentWrap">
						<ul class="category-realmain-contentUl">
							<th:block th:each="pvd: ${pvds}">
								<li class="category-realmain-contentli"><a
									th:href="@{/post-details/post-details/{post_id}(post_id = ${pvd.getPost_id()})}"
									class="category-realmain-contentA">
										<div class="category-realmain-letterWrap">
											<strong class="category-realmain-strong"
												th:text="${pvd.getTitle()}">제목</strong>
											<div class="category-realmain-subtitleWrap">
												<em class="category-realmain-subtitleEm"
													th:text="${#temporals.format(pvd.getCreate_date(), 'yyyy.MM.dd EEEE')}">날짜</em>
												<span class="category-realmain-subtitleBar"></span> <span
													class="category-realmain-realsubWrap"
													th:text="${pvd.getContent()}">내용</span>
											</div>
											<span class="category-realmain-explanWrap"> <span
												class="category-realmain-firstSpan">댓글</span> <span
												class="category-realmain-firstSpan">0</span> <span
												class="category-realmain-dot"></span> <span
												class="category-realmain-by">by</span> <span
												class="category-realmain-time"
												th:text="${pvd.getMember_nickname()}">작성자</span>
											</span>
										</div>
										<div class="category-realmain-imgWrap">
											<img th:src="${pvd.getFilepath()}" width="120" height="120"
												class="category-realmain-img" />
										</div>
								</a></li>
							</th:block>
						</ul>
					</div>
					<div class="category-realmain-popularBlogWrap">
						<strong class="category-realmain-popularTitle">인기블로거</strong>
						<div class="category-realmain-blogerWrap">
							<th:block th:each="mvd: ${mvds}">
								<a href="#" class="category-realmain-blogerA"> <span
									class="category-realmain-profileWrap"> <img
										th:src="${mvd.getMember_profile()}" width="36" height="36"
										class="category-realmain-profile" />
								</span>
									<div class="category-realmain-profileLetterWrap">
										<div class="category-realmain-inner">
											<span class="category-realmain-profileName" th:text="${mvd.getMember_nickname()}">이름</span> <span
												class="category-realmain-profileUnderWrap"> <span
												class="category-realmain-blogerWiter"th:text="|글 개수 ${mvd.getPostCount()}|"></span> <span
												class="category-realmain-blogerdot"></span> <span
												class="category-realmain-blogerWiter" th:text="|구독자 수 ${mvd.getSubscriberCount()}|">구독자 개수</span>
											</span>
										</div>
									</div>
								</a>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
<script src="/js/main/header.js" data-whatIsThis="헤더js임포트"></script>

</html>