header {
	display: block;
	unicode-bidi: isolate;
}

body {
	background: #fff;
	color: #333;
}

body, button, input, select, td, textarea, th {
	font-size: 14px;
	line-height: 1.5;
}

button {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	outline: none;
}

button, input, select, textarea {
	vertical-align: middle;
}

dl, li, menu, ol, ul {
	list-style: none;
}

strong, em, dd, pre, span, a, button {
	font-family: "Noto Sans Light";
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2,
	h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th,
	ul {
	-webkit-font-smoothing: antialiased;
	font-family: "Noto Sans DemiLight", "Malgun Gothic", sans-serif;
	backface-visibility: hidden;
	margin: 0;
	padding: 0;
	text-rendering: inherit;
}

blockquote, q {
	quotes: none;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	unicode-bidi: isolate;
}

fieldset, img {
	border: 0;
}

img {
	overflow-clip-margin: content-box;
	overflow: clip;
}

strong {
	font-weight: bold;
}

dl {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	unicode-bidi: isolate;
}

dt {
	display: block;
	unicode-bidi: isolate;
}

dd {
	display: block;
	unicode-bidi: isolate;
}

a {
	color: #333;
}

a, a:active, a:hover {
	text-decoration: none;
}

em {
	font-style: italic;
}

address, caption, cite, code, dfn, em, var {
	font-style: normal;
	font-weight: normal;
}

div.wrap-view-article {
	min-width: 700px;
	word-wrap: break-word;
	word-break: break-word;
	margin-top: 90px;
}

div.wrap-cover {
	position: inherit;
	top: 0;
	width: 100%;
	z-index: 0;
}

div.cover-item {
	height: 400px;
	border-bottom: 1px solid #eee;
	max-height: none !important;
	position: relative;
	margin-top: -100px;
}

div.cover-image {
	display: none;
}

div.cover-inner {
	opacity: 1;
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

div.cover-cell {
	-webkit-transform: translate(50%, -96px);
	bottom: 0;
	text-align: left;
	position: absolute;
	right: 50%;
	width: 700px;
	z-index: 11;
}

h1.cover-title {
	letter-spacing: -.01em;
	margin-left: 0;
	color: #333;
	font-size: 34pt;
	word-wrap: break-word;
	font-family: "Nanum Myeongjo";
	line-height: 40pt;
}

p.cover-sub-title {
	color: #666;
	letter-spacing: -.03em;
	padding-top: 6px;
	word-wrap: break-word;
	font-size: 12pt;
	line-height: 18pt;
	opacity: .8;
}

div.wrap-article-info {
	bottom: 27px;
	display: block;
	font-size: 12px;
	position: absolute;
	right: 50%;
	-webkit-transform: translate(50%, 1px);
	width: 700px;
}

span.ico-by {
	color: #bbb;
	opacity: .8;
	margin-right: 2px;
	display: inline-block;
	font-family: Georgia, sans-serif;
	font-size: 12px;
	font-style: italic;
	height: 14px;
	margin: 0 4px 0 0;
	width: 15px;
	float: left;
}

span.text-author {
	color: #666;
	float: left;
}

a.text-author {
	letter-spacing: -.05em;
	color: #666;
}

span.ico-dot {
	background-color: #aaa;
	opacity: .5;
	margin: 8px 7px 0;
	display: inline-block;
	height: 2px;
	vertical-align: top;
	width: 2px;
	float: left;
}

span.date {
	color: #bbb;
	opacity: 1;
	letter-spacing: -.05em;
	float: left;
}

div.body-frame {
	background-color: #fff;
	position: relative;
}

div.wrap-body {
	margin-bottom: -5px;
	word-wrap: break-word;
	background: #fff;
	overflow: hidden;
	padding-bottom: 0;
	padding-top: 40px;
	position: relative;
	z-index: 10;
}

p.wrap-item {
	margin-top: -7px;
	text-align: left;
	margin: 0 auto;
	width: 700px;
	font-size: 11pt;
	letter-spacing: .8px;
	line-height: 22pt;
}

blockquote.top-content-sub {
	box-sizing: border-box;
	margin: 0 auto;
	width: 700px;
	letter-spacing: .8px;
}

blockquote.top-content {
	margin-top: 13px;
	background:
		url(//t1.daumcdn.net/brunch/static/img/help/pc/img_blockquote_type1_small.png)
		no-repeat 50% 0;
	color: #333;
	font-size: 15pt;
	line-height: 23pt;
	padding: 25px 0 0;
	text-align: center;
}

div.item-img {
	margin-top: 13px;
	clear: both;
	width: 100%;
}

div.wrap-outer-full {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 940px;
}

div.wrap-img-float {
	font-size: 0;
	overflow: hidden;
}

span.text-caption {
	clear: both;
	padding: 7px 10px 0;
	margin: 0 auto;
	width: 680px;
	color: #909090;
	display: block;
	font-size: 10pt;
	line-height: 15.5pt;
	text-align: center;
}

div.info-keyword {
	margin: 32px auto;
	overflow: hidden;
	padding: 10px 0 30px;
	width: 700px;
	background-color: #fff;
	position: relative;
}

strong.screen-out {
	line-height: 0;
	overflow: hidden;
	text-indent: -9999px;
	height: 0;
	position: absolute;
	width: 0;
}

li.keyword {
	float: left;
	margin-right: 8px;
}

a.link-keyword {
	border: 1px solid #ddd;
	border-radius: 28px;
	color: #959595;
	display: inline-block;
	font-size: 12px;
	height: 26px;
	letter-spacing: -.5px;
	line-height: 26px;
	min-width: 14px;
	padding: 0 10px;
	text-align: center;
}

div.info-state {
	border-top: 1px solid #eee;
	margin: 0 auto;
	padding: 32px 0;
	width: 700px;
}

span.wrap-comment-btn {
	display: flex;
	justify-content: space-between;
	padding: 32px 0 70px;
}

button.btn-like {
	align-items: center;
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 42px;
	color: #666;
	display: inline-flex;
	font-family: "SF Pro Light", sans-serif;
	font-size: 13px;
	padding: 8px 23px;
}

span.num-like {
	color: #333;
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	margin-left: 4px;
}

button.btn-comment {
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 42px;
	color: #333;
	display: inline-flex;
	font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
	font-size: 14px;
	line-height: 22px;
	padding: 8px 23px;
}

span.brunch {
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: top;
}

span.icon-cheer {
	background:
		url(https://t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_pc_v230526.png)
		no-repeat 0 0/300px 300px;
}

span.icon-cheer {
	background-position: -58px 0;
	height: 22px;
	width: 22px;
}

span.comment-txt {
	margin-left: 4px;
}

span.num-comment {
	color: #804674;
	font-family: "SF Pro Light", "sans-serif";
	margin-left: 2px;
}

div.info-comment {
	background-color: #fff;
	padding: 0 0 124px;
	position: relative;
}

div.comment-head {
	border-bottom: 1px solid #ddd;
	height: 30px;
	margin: 0 auto;
	padding-bottom: 15px;
	width: 700px;
}

strong.tit-comment {
	font-size: 16px;
	font-weight: normal;
	margin-left: -1px;
	padding-top: 4px;
}

span.txt-num {
	color: #E7BCDE;
	font-family: "SF Pro Light", sans-serif;
	padding-left: 3px;
}

div.comment-content {
	margin: 0 auto;
	width: 700px;
}

div.comment-none {
	align-items: center;
	color: #959595;
	display: flex;
	flex-direction: column;
	font-family: "Noto Sans DemiLight", "Malgun Gothic", sans-serif;
	margin: 52px 0;
	padding-bottom: 8px;
}

span.ico-brunch {
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: top;
}

span.ico-brunch {
	background:
		url(https://t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_pc_v230526.png)
		no-repeat 0 0/300px 300px;
}

span.ico-brunch-cheer {
	background-position: 0 -26px;
	height: 28px;
	width: 28px;
}

strong.tit-none {
	display: block;
	font-size: 18px;
	font-weight: normal;
	line-height: 25px;
	margin-top: 12px;
}

span.txt-none {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-top: 4px;
}

/*  */
.info-comment .comment-list {
	display: block;
	width: 100%;
}

.animation-up {
	-webkit-animation: animation_up .2s;
	animation: animation_up .2s;
	transition: opacity .2s ease-out 0s, transform .2s ease-out 0s;
}

/* .comment-list:only-child>li:first-of-type, 
.list-comment-more+.comment-list>li:first-of-type {
    border: none;
} */
.animation-up {
	border: none;
}

.comment-list .comment {
	align-items: start;
	display: flex;
	justify-content: space-between;
	margin: 36px 0;
	width: 100%;
}

.link-profile {
	overflow: visible;
	padding: 0;
	position: relative;
}

.link-profile .img-thumb {
	background-color: #fff;
	border-radius: 42px;
	height: 32px;
	width: 32px;
}

.comment-list .cont-info {
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

.comment-list .link-profile+.cont-info {
	padding-left: 8px;
	width: calc(100% - 32px);
}

.comment-list .info-append {
	font-size: 12px;
	line-height: 14px;
	width: 100%;
}

.comment-list .info-append .tit-userid {
	align-items: center;
	display: flex;
}

.comment-list .info-append .link-userid {
	color: #111;
	font-family: "Noto Sans DemiLight", "Malgun Gothic", sans-serif;
	font-size: 13px;
	line-height: 22px;
}

.comment-list .info-append .txt-time {
	color: #959595;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}

.comment-list .desc-comment {
	word-wrap: break-word;
	clear: left;
	color: #111;
	font-size: 15px;
	line-height: 24px;
	font-family: "Noto Sans Light";
}

.comment-list .info-append+.desc-comment {
	margin-top: 12px;
}

.comment-list .comment-setting {
	display: block;
	position: absolute;
	right: 0;
	top: -1px;
}

.comment-list .comment-setting .btn-setting {
	color: #959595;
	display: inline;
	font-size: 12px;
	margin-left: 8px;
}

.ico-brunch-pc {
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: top;
}

.ico-brunch-pc {
	background:
		url(https://t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_pc_v230526.png)
		no-repeat 0 0/300px 300px;
}

.ico-more-cheer {
	background-position: -112px -26px;
	height: 21px;
	width: 21px;
}

.wrap-comment-menu {
	border: 1px solid #ddd;
	display: none;
	position: absolute;
	right: 29px;
	top: 0;
	z-index: 9999;
}

.setting-on .wrap-comment-menu {
	display: block;
}

.setting-on .wrap-comment-menu .btn-set {
	background-color: #fff;
	box-sizing: border-box;
	color: #959595;
	display: block;
	font-size: 13px;
	line-height: 22px;
	padding: 9px 29px;
	white-space: nowrap;
	width: 100%;
	word-break: keep-all;
}

div.comment-write-wrap {
	margin: 0 auto;
	width: 700px;
}

div.comment-write {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

div.box-area {
	background-color: #fff;
	border: 1px solid #ddd;
	box-sizing: border-box;
	position: relative;
	width: 700px;
}

div.link-profile {
	align-items: center;
	display: flex;
	padding: 18px 21px 0;
	overflow: visible;
	position: relative;
}

img.img-thumb {
	height: 28px;
	width: 28px;
	background-color: #fff;
	border-radius: 42px;
	display: block;
}

strong.txt-profile {
	color: #111;
	font-family: "Noto Sans DemiLight", "Malgun Gothic", sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	margin-left: 10px;
}

div.editor-wrap {
	font-size: 13px;
	position: relative;
}

div.editor {
	word-wrap: break-word;
	background: transparent;
	border: none;
	box-sizing: border-box;
	color: #333;
	line-height: 22px;
	min-height: 78px;
	outline: transparent;
	padding: 12px 21px 0;
	white-space: pre-wrap;
	width: 100%;
}

/* 추가 또는 수정된 CSS */
textarea.editor {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #333;
    line-height: 22px;
    min-height: 78px;
    outline: transparent;
    padding: 12px 21px 0;
    width: 100%;
    resize: none; /* textarea 크기 조절 비활성화 */
}

div.editor-placeholder {
	color: #959595;
	cursor: text;
	left: 21px;
	line-height: 22px;
	position: absolute;
	top: 12px;
	z-index: 0;
}

ul.mention-layer {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	max-height: 158px;
	overflow: hidden;
	overflow-y: auto;
	padding: 8px 0;
	position: absolute;
	width: calc(100% - 42px);
	z-index: 11;
	display: none
}

div.editor-footer {
	margin-top: 20px;
	align-items: center;
	border-top: 1px solid #eee;
	display: flex;
	height: 62px;
	justify-content: space-between;
	padding: 0 21px;
}

div.wrap-util {
	display: flex;
}

button.btn-sticker {
	color: #666;
	font-size: 11px;
	line-height: 30px;
	align-items: center;
	display: flex;
}

div.wrap-btn {
	display: flex;
}

button.btn-submit {
	margin-left: 10px;
	border: 1px solid #bbb;
	border-radius: 32px;
	color: #666;
	font-size: 12px;
	height: 32px;
	line-height: 28px;
	width: 52px;
	background-color: #fff;
	opacity: .9;
}

div.wrap-author {
	background-color: #fbfbfb;
	padding-top: 22px;
	position: relative;
	z-index: 10;
}

div.inner-author {
	margin: 0 auto;
	padding: 31px 0 80px;
	position: relative;
	width: 700px;
}

div.author-profile {
	font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
}

strong.author-name {
	display: block;
}

a.link-author-name {
	display: block;
	font-size: 28px;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 588px;
}

a.author-belong {
	color: #666;
	display: block;
	font-size: 13px;
	margin: 1px 2px;
}

em.screen-out {
	line-height: 0;
	overflow: hidden;
	text-indent: -9999px;
	height: 0;
	position: absolute;
	width: 0;
}

a.link-author-image {
	position: absolute;
	right: 0;
	top: -42px;
}

img.img-author {
	border-radius: 100px;
	vertical-align: top;
}

div.author-desc {
	color: #666;
	font-size: 13px;
	margin-top: 21px;
}

p.txt-desc {
	color: #959595;
	line-height: 22px;
}

div.wrap-subscription {
	margin-top: 34px;
}

span.info-subscription {
	color: #666;
	float: left;
	margin-top: 6px;
}

span.num-subscription {
	color: #666;
	font-family: "SF Pro Light", sans-serif;
	margin-left: 1px;
}

span.wrap-subscription-btn {
	float: right;
	margin-top: 0;
	text-align: center;
}

button.btn-subscription {
	background-color: #fff;
	color: #E7BCDE;
	margin-left: 5px;
	border: 1px solid #E7BCDE;
	border-radius: 21px;
	font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
	font-size: 14px;
	height: 42px;
	width: 86px;
	padding-top: 1px;
	opacity: .9;
}

span.txt-default {
	color: #E7BCDE;
	font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
	font-size: 14px;
}

img.ico-plus {
	height: 17px;
	margin-right: 3px;
	vertical-align: sub;
	width: 17px;
}

.brunch-layer {
	background-color: #fff;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.brunch-layer, .dimmed-layer {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.brunch-layer {
	z-index: 10010;
}

.dimmed-layer {
	filter: alpha(opacity = 95);
	height: 100%;
	opacity: .95;
	z-index: 9998;
}

.brunch-layer .report-background {
	background: #f8f8f8;
}

.inner-brunch-layer4 {
	background: #fff;
	border: 1px solid #ddd;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
}

/* 


*/
/* 

*/
legend.ir-pm {
	display: block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}

div.report-body {
	padding: 54px 55px;
}

strong.tit-report {
	display: block;
	padding-bottom: 25px;
	font-family: NotoLight, sans-serif;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}

div.report-choice-1 {
	width: 50%;
	float: left;
	display: inline-block;
	padding-bottom: 11px;
	position: relative;
}

input.radio-input {
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: -1;
	top: 1px;
	left: 0;
	-webkit-appearance: none;
	vertical-align: top;
	border: 0 none;
	opacity: .01
}

label.lab-comm {
	padding-left: 0;
	background: #fff;
	color: #333;
	font-size: 14px;
	display: block;
}

div.report-choice-2 {
	width: 50%;
	float: left;
	display: inline-block;
	padding-bottom: 11px;
	margin-top: 0;
	position: relative;
}

div.report-choice-3 {
	display: inline-block;
	width: 100%;
	padding-bottom: 11px;
	margin-top: 0;
	position: relative;
}

div.ico-radio {
	display: inline-block;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 50%;
	margin-right: 4px;
	background-color: #fff;
	vertical-align: top;
}

div.box-txtarea {
	position: relative;
	padding: 18px 22px;
	border: 1px solid #eee;
	margin: -5px 0 15px;
	background: #fff;
}

label.tf-reason {
	position: absolute;
	top: 18px;
	left: 22px;
	color: #959595;
	font-size: 13px;
	line-height: 22px;
}

textarea.tf_reason {
	width: 100%;
	min-height: 42px;
	border: 0 none;
	resize: none;
	outline-style: none;
}

p.against {
	margin: -6px 0 15px 27px;
	color: #959595;
	font-size: 13px;
	line-height: 22px;
}

a.link-against {
	display: inline-block;
	color: #959595;
	text-decoration: underline;
}

div.wrap-btn {
	margin-top: 25px;
	text-align: center;
	margin: 0;
	font-size: 0;
}

button.btn-close {
	width: 84px;
	height: 42px;
	padding: 8px 20px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 100px;
	color: #909090;
	font-size: 14px;
}

button.btn-report {
	margin-left: 12px;
	width: 84px;
	height: 42px;
	padding: 8px 20px 10px;
	border-color: #E7BCDE;
	color: #E7BCDE;
	background-color: #fff;
	border: 1px solid;
	border-radius: 100px;
	font-size: 14px;
}

.radio-input:checked+.lab-comm .ico-radio {
	position: relative;
	border-color: #E7BCDE;
}

.radio-input:checked+.lab-comm .ico-radio::after {
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
	width: 8px;
	height: 8px;
	box-sizing: border-box;
	border-radius: 50%;
	background-color: #E7BCDE;
	content: "";
}

label.checked {
	color: #E7BCDE;
	padding-left: 0;
	background: #fff;
	font-size: 14px;
}

body.modal-open {
	overflow: hidden; /* 스크롤 숨기기 */
}

.ico-brunch {
	background:
		url(//t1.daumcdn.net/brunch9/static/images/pc/ico_brunch8_181106.png)
		no-repeat;
}

.ico-brunch, .ico-brunch-v1 {
	display: inline-block;
	line-height: 0;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: top;
}

.report-body .wrap-btn {
	display: block;
}