<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style data-emotion="css-global" data-s="">
@font-face {
	font-family: "Nanum Myeongjo";
	font-weight: normal;
	src: url("/fonts/NanumMyeongjo.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans Light";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/NotoSansCJKkr-Light.otf");
}

@font-face {
	font-family: "Noto Sans DemiLight";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/NotoSansCJKkr-DemiLight.otf");
}
</style>
<link rel="shortcut icon" href="/images/glowritersFavicon.png"
	type="image/x-icon" />
<link rel="stylesheet" href="/css/now/now.css" />

<link rel="stylesheet" href="/css/main/header.css"
	data-whatIsThis="헤더CSS임포트" />
<title>브런치스토리</title>
</head>

<body>
	<div th:replace="~{/main/header :: fragment-header1}">헤더파일 가져오는곳</div>
	<div th:replace="~{/main/header :: fragment-header2}">헤더파일 가져오는곳</div>
	<div class="now-wrap">
		<hr class="hide" />
		<main class="now-main">
			<article class="main-article">
				<h2 class="main-what">브런치 now</h2>
				<ul class="main-content-wrap">
					<th:block th:each="pvd: ${pvds}">
						<li class="main-content-wrapli"><a href="#"
							class="content-photo-wrap"> <img
								th:src="${pvd.getFilepath()}" width="120" height="120"
								class="content-photo" alt="Glowriters 프로필" />
						</a>
							<div class="content-letter-wrap">
								<a th:href="@{/post-details/post-details/{post_id}(post_id = ${pvd.getPost_id()})}" class="content-letter-wrapA"> 
									<strong class="content-letter-strong" th:text="${pvd.getTitle()}">제목</strong>
									<span class="content-letter-span"><span th:text="${pvd.getContent()}">본문</span></span>
								</a>
								<div class="content-subletter-wrap" style="white-space: nowrap">
									<a href="#" class="content-subletter-firstA" th:text="${pvd.getCategory()}">카테고리</a><span
										class="content-subletter-firstSpan">by</span> <a href="#"
										class="content-subletter-secondA"
										th:text="${pvd.getMember_nickname()}">이타북스</a> <span
										class="content-subletter-secondSpan"></span> <span
										class="content-subletter-thirdSpan" th:text="|${pvd.getSubscriberCount()}명의 구독자|">구독자 수</span>
								</div>
							</div></li>
					</th:block>
				</ul>
			</article>
		</main>
	</div>
</body>
<script src="/js/now/now.js"></script>
<script src="/js/main/header.js" data-whatIsThis="헤더js임포트"></script>

</html>